
<form  [formGroup]="enquiryForm" (ngSubmit)="addUser()">
    <div>
        <input matInput placeholder="firstName" formControlName="firstName" name="firstName" type="text"><br>
    </div>
    <div>
        <input placeholder="lastName" formControlName="lastName" name="lastName" type="text"><br>
    </div>
    <div>
        <input placeholder="email" formControlName="email" name="email" type="text"><br>
    </div>
    <div>
        <input placeholder="phone" formControlName="phone" name="phone" type="text"><br>
    </div>
    <div>
        <input placeholder="comment" formControlName="comment" name="comment" type="text"><br>
    </div>
    
        
    
    <div>
        <button type="submit">Submit</button>
    </div>
    </form>